<div id="youtubeplayerContainer" class="widget fakeHide">
<iframe id="youtubeplayer" type="text/html"
  src="https://www.youtube.com/embed/?enablejsapi=1&origin={{ app.request.scheme ~'://' ~ app.request.httpHost}}"
  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>